@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-mosaique {
    background-image: url(./mos.png);
}

.bg-mosaique-f {
    background-image: url(./mosaiquefonce.png);
}

.bg-index-30 {
    background-image: url(./30%.png);
}

.bg-index-50 {
    background-image: url(./50%.png);
}

.bg-index-70 {
    background-image: url(./70%.png);
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }